<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script type="text/javascript">
    var socket = io('http://localhost:3000')

    socket.on('tweet', function(data){
        console.log(data)
    })

    socket.on('like', function(data){
        console.log(data)
    })
</script>